CMakeFiles
*build*
RType
r-type_client
r-type_server
Makefile
CMakeCache.txt
cmake_install.cmake
.idea
CmakeFiles
Release
ALL_BUILD.*
ci_test*
RType.sln
RType.vcxproj*
ZERO_CHECK*
x64
RType.dir
.vscode
a.out
docs
CPackConfig.cmake
CPackSourceConfig.cmake
.ninja_*
build.ninja
.cmake
docs